* {
  font-family: "Iosevka Nerd Font Propo";
  background: none;
}

.time_label {
  font-size: 128px;
}

.date_label {
  font-size: 64px;
  margin-top: -20px;
}

.week_day_label {
  font-size: 42px;
  margin-bottom: -10px;
}
